{% extends "_layout.html" %}

{% block title %}about{% endblock %}

{% block main %}
<section class="Pricing">
    <!-- <div class="container"> -->
		<h1 >Pricing</h1>
        <div class="sectionWriting_big">
            <div class="sectionWriting">
                Currently taking <b class="bold_light">pro bono</b> projects especially healthcare related.
                <br/><br/>
                I charge $70 an hour. It took me about 300 hours to build the latest 
                <a href="https://demo.kmdashboard.dashboardsanddatabases.com">dashboard</a>.
            </div>
        </div>

<!-- </div> -->
</section>
{% endblock %}