.body_margin {
  padding: 0;
  /*padding works on inside*/
  margin: 0;
  /*margin works on outside*/
}

.logo {
  text-decoration: none;
  font-weight: bold;
  /*font-style:oblique;*/
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.hero h1 {
  font-weight: bold;
}

.hero-img {
  width: 70%;
  margin-top: 3em;
}

.feature-section {
  color: black;
}

ul.features-list {
  margin: 0;
  padding-left: .1em;
  padding-bottom: 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

ul.features-list li {
  font-size: 1.1em;
  margin: 0;
  padding-left: .1em;
  margin-bottom: .75em;
  margin-left: 2em;
  position: relative;
}

ul.features-list li:before {
  content: '';
  left: -1.3em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/bullet.svg");
  background-size: contain;
  margin-right: 5em;
}

.feature-section img {
  margin-left: 15%;
  margin-top: 0;
}

/*
.testimonials-section {
    li {
        list-style-type: none;
        text-align: center;
        padding: 2em 1em;
        width: 80%;
        margin: 0 auto 5em auto;
        
        img {
            width: 5em;
            height: 5em;
            border-radius: 50%;
        }

    }
}
*/
.testimonials-section li:nth-child(odd) {
  margin: 0 1em;
  width: 100%;
  list-style-type: none;
}

.testimonials-section li:nth-child(odd) .testimonial_list_item {
  margin: 3em;
  border-radius: 2em;
  padding: 2em;
}

.testimonials-section li:nth-child(odd) .testimonial_list_item blockquote {
  width: 80%;
  margin-left: 10%;
  color: black;
}

.testimonials-section li:nth-child(odd) .citation_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5%;
  float: right;
}

.testimonials-section li:nth-child(odd) .citation_image img {
  width: 5em;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonials-section li:nth-child(odd) .citation_image .citation_text {
  padding-left: 1.5em;
  margin-top: 2em;
}

.testimonials-section li:nth-child(even) {
  margin: 8em 1em;
  width: 100%;
  list-style-type: none;
}

.testimonials-section li:nth-child(even) .testimonial_list_item {
  margin: 3em;
  border-radius: 2em;
  padding: 2em;
}

.testimonials-section li:nth-child(even) .testimonial_list_item blockquote {
  width: 80%;
  margin-left: 10%;
  color: black;
}

.testimonials-section li:nth-child(even) .citation_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5%;
  float: left;
}

.testimonials-section li:nth-child(even) .citation_image img {
  width: 5em;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonials-section li:nth-child(even) .citation_image .citation_text {
  padding-left: 1.5em;
  margin-top: 2em;
}

.contact-section label {
  display: block;
}

.contact-section input, textarea {
  width: 100%;
  padding: .8em;
  margin-bottom: 1em;
  border-radius: .3em;
  border: 3px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="submit"] {
  font-weight: bold;
  font-size: 1.3em;
  padding: .8em 2em;
}

iframe {
  width: 100%;
  height: 300px;
}

.navbar_supplement {
  position: fixed;
  z-index: 998;
  /*layerin position, higher number=top*/
  width: 100%;
}

.hideNav {
  display: none;
}

.nav_align_right {
  float: right;
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10em 4em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .hero .container .left-col {
    margin: 3em 3em 0 5em;
  }
  .hero .container h1 {
    font-size: 3em;
  }
  ul.features-list {
    display: block;
    margin-right: 5em;
    float: right;
    margin-top: -5em;
    padding-bottom: 2em;
  }
  ul.features-list li {
    font-size: 1.4em;
  }
  ul.features-list li:before {
    width: 30px;
    height: 30px;
  }
  .feature-section {
    position: relative;
    height: 400px;
  }
  .feature-section img {
    display: block;
    position: absolute;
    left: -2%;
    width: 30%;
    bottom: -2em;
  }
  .nav_align_right {
    float: right;
  }
}

/*Data Tools*/
section.data_tools_main h1 {
  margin-bottom: 1em;
}

section.data_tools_main ul {
  list-style-type: none;
}

section.data_tools_main ul a {
  text-decoration: none;
}

section.data_tools_main li:nth-child(odd) {
  background-color: var(--bs-secondary);
  margin: 0 0 3em 3em;
  border-radius: 2em;
  padding: 2em;
  width: 100%;
}

section.data_tools_main li:nth-child(odd) a {
  text-decoration: none;
  color: black;
  width: 100%;
}

section.data_tools_main li:nth-child(odd) a:hover {
  color: var(--bs-dark);
}

section.data_tools_main li:nth-child(even) {
  background-color: var(--bs-primary);
  margin: 0 0 3em 3em;
  border-radius: 2em;
  padding: 2em;
  width: 100%;
}

section.data_tools_main li:hover {
  background-color: var(--bs-gray-500);
  color: var(--bs-dark);
}

section.data_tools_main li:hover a {
  color: var(--bs-dark);
}

section.data_tools_main .data_tool_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

section.data_tools_main .title_div {
  width: 90%;
}

section.data_tools_main .data_tools_description {
  width: 80%;
}

section.data_tools_main .logo_div {
  position: absolute;
  right: 0;
  padding: .8em .8em .8em .8em;
}

section.data_tools_main #logo_div_km {
  background-color: var(--bs-gray-400);
  border-radius: 50%;
}

section.data_tools_main #logo_div_km img {
  width: 120px;
  margin: 0 0 20px 0;
}

section.data_tools_main #logo_div_cbc {
  right: 2em;
  top: -2em;
}

section.data_tools_main #logo_div_cbc img {
  border-radius: 50%;
}

section.data_tools_main #logo_div_wsh {
  right: 2em;
  top: -2em;
}

section.data_tools_main #logo_div_wsh img {
  border-radius: 50%;
  width: 130px;
}

section.data_tools_main #logo_div_bls img {
  border-radius: .75em;
  width: 300px;
}

@media only screen and (max-width: 1010px) {
  #logo_div_km {
    display: none;
  }
  #logo_div_cbc {
    display: none;
  }
  #logo_div_wsh {
    display: none;
  }
}

.spacePageBorder {
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 5em;
  padding-bottom: 5em;
}

.cageBox {
  border-radius: .75em;
  background-color: tan;
  border-width: .2em;
  border-style: solid;
  border-color: black;
  width: 75%;
  margin-left: 2%;
  padding-bottom: 15em;
  color: var(--bs-dark);
  block-size: -webkit-fit-content;
  block-size: -moz-fit-content;
  block-size: fit-content;
  padding-top: .5em;
  padding-left: 1em;
  padding-bottom: 4em;
  padding-right: 1em;
}

.exactCheck label {
  text-align: center;
}

/*.cageBox row {padding:0px; padding-bottom:0px;line-height:.2em;}

.cageRow {padding:0px; padding-bottom:0px;
line-height:.2em; height: .5em; vertical-align: bottom;}
*/
.cageButton {
  float: right;
}

.searchCriteriaRows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.criteriaLabel {
  padding: 0 0 0 5px;
  min-width: 220px;
}

.text_color {
  color: var(--bs-dark);
}

@media only screen and (max-width: 1010px) {
  .searchCriteriaRows {
    display: inline;
  }
}

/*getSts*/
.getSts p {
  margin-left: 1%;
}

.getStsBox {
  border-radius: .75em;
  background-color: tan;
  border-width: .2em;
  border-style: solid;
  border-color: black;
  width: 75%;
  margin-left: 2%;
  color: var(--bs-dark);
}

.getSts button {
  margin-left: 2%;
}

.getStsBox textarea {
  width: 80%;
}

.fileUploadInput {
  background-color: #f0f0f0;
  border-radius: .25em;
  width: 78%;
}

.lightPadding {
  padding-top: .5em;
  padding-left: 1em;
  padding-bottom: .5em;
  padding-right: 1em;
}

.table_background {
  background-color: var(--bs-gray-400);
  padding: 20px,20px,20px,20px;
  margin: 20px,20px,20px,20px;
  border-radius: .5em;
}

.table_background_sub {
  margin-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: var(--bs-gray-400);
  border-radius: .5em;
}

/*BLS Menu*/
section.datatools_bls h1 {
  margin-bottom: 1em;
}

section.datatools_bls .ppi_section {
  background-color: var(--bs-gray-700);
  padding: 1em 1em 0 1em;
  border-radius: .75em;
}

section.datatools_bls ul {
  list-style-type: none;
  padding-left: .1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

section.datatools_bls ul a {
  text-decoration: none;
}

section.datatools_bls li:nth-child(odd) {
  background-color: var(--bs-secondary);
  margin-left: 1em;
  margin-bottom: 1em;
  border-radius: .75em;
  padding: 0 0 .5em .5em;
}

section.datatools_bls li:nth-child(odd) a:hover {
  color: var(--bs-dark);
}

section.datatools_bls li:nth-child(even) {
  background-color: var(--bs-primary);
  margin-left: 1em;
  margin-bottom: 1em;
  border-radius: .75em;
  padding: 0 0 .5em .5em;
}

section.datatools_bls li:hover {
  background-color: var(--bs-success);
  color: var(--bs-dark);
}

section.datatools_bls li:hover a {
  color: var(--bs-dark);
}

.metaSection {
  border-radius: .75em;
  background-color: #c8c8c8;
  width: 70%;
  color: black;
}

.metaSection ul {
  list-style-type: none;
  padding-left: .1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(9rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
}

.periodictySection {
  border-radius: .75em;
  background-color: #c8c8c8;
  width: 150px;
  color: black;
}

.periodictySection ul {
  list-style-type: none;
}

/*priceindices*/
.buttonCol {
  text-align: center;
}

.sectionWriting_big {
  padding: 1em;
  margin-left: 3em;
  background-color: var(--bs-gray-800);
  border-radius: .75em;
}

.sectionWriting_big h2 {
  color: var(--bs-gray-400);
}

.sectionWriting {
  padding: .5em 4em 1em 3em;
  /*background-color:rgb(180, 180, 0)*/
}

.bold_light {
  color: var(--bs-gray-200);
}
/*# sourceMappingURL=main.css.map */